:root {
	--primary-color: #2875d9;
}

@font-face {
	font-family: 'Computer Modern';
	font-style: normal;
	font-weight: normal;
	src: url('./paper/cmunrm.ttf');
}

@font-face {
	font-family: 'Computer Modern';
	font-style: italic;
	font-weight: normal;
	src: url('./paper/cmunti.ttf');
}

@font-face {
	font-family: 'Computer Modern';
	font-style: normal;
	font-weight: bold;
	src: url('./paper/cmunbx.ttf');
}

@font-face {
	font-family: 'Computer Modern';
	font-style: italic;
	font-weight: bold;
	src: url('./paper/cmunbi.ttf');
}

html, body, #write {
	font-family: 'Computer Modern';
}

 
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}


h1, h2, h3, h4, h5, h6 {
	font-family: 'Computer Modern';
    text-align: left;
    margin-top:1em;
    margin-bottom:0;

}

h1{
    font-family: 'Computer Modern';
    text-align: center;
    font-size: 2.3rem;
    font-variant: small-caps; 
    counter-reset: h2c h3c h4c; 
    border-bottom: 1px solid  ;
/*     border-top: 1px solid  ;*/
}
figcaption:before {
    content: "Figure " counter(figc) ": ";  
    
} 
img{
    max-width: 800px;
    max-height: 500px;
}

figure{
    counter-increment: figc;
}
figcaption {
    font-family: 'Computer Modern';
    text-align: center;
}
 /*
upper-roman
upper-alpha
*/
h2:before {
    content: counter(h2c) "  ";  
    
} 

h3:before {
    content: counter(h2c) "." counter(h3c) " ";

}
h4:before{
    content: counter(h4c,alpha) " ";
}
h2{
    font-size: 2rem; 
    counter-increment: h2c;
    counter-reset: h3c h4c;
}

h3{
    font-size: 1.5rem;
    counter-increment: h3c;
    counter-reset: h4c; 
}


h4{
    font-size: 1.25rem;
    padding-left: 1rem;
    counter-increment: h4c;
}

h5{
    font-size: 1rem;
}

h6{
    font-size: 1rem;
}

html {
	font-size: 20px;
}

#write {
	max-width: 1024px;
	text-align: justify;
}

p {
	font-size: 1rem;
}
hr{
    border-top-width: 1px;
    border-top-style: solid;
    border-color: black;
}
/* Stuff */

sup.md-footnote {
	background-color: transparent;
	color: var(--primary-color);
	padding: 1px;
	margin: 0;
}

code, .md-fences {
	background: #f2f2f2;
}

.md-fences {
	font-size: .7em;
	padding: .5rem;
}


table tr th {
    border-bottom: 2px solid;
    border-top: 2px solid;
}

td, th {    
    border-bottom: 1px solid;
    padding-left: 1ch;
    padding-right: 1ch;
}

tr {
    border-bottom: 1px solid;
    padding-top: 2px; 
}


g {
    text-align: center;
}

.show-fences-line-number .md-fences {
	padding-left: .5rem;
}

blockquote {
	margin: 0 0 1.11111rem;
	padding: 0.5rem 1.11111rem 0 1.05556rem;
	border-left: 1px solid gray;
}

blockquote, blockquote p {
	line-height: 1.6;
	color: #6f6f6f;
}

mark {
	background: yellow;
}

img {
	display: block;
	margin: auto;
}

.md-task-list-item p{
	padding-left: 0.1em;
}
.md-list-item p{
	padding-left: 0.1em;
}

.task-list-item input:before {
    content: '\221A';
    display: inline-block;
    width: 1.25rem;
    height: 1.6rem;
    vertical-align: middle;
    text-align: center;
    color: #bbb;
    background-color: inherit;
}

.task-list-item input:checked:before,
.task-list-item input[checked]:before{
    color: inherit;
}

.md-task-list-item > input {
    top: -0.28em;
    margin-left: -1.1em;
    font-size: 1.2em;
    margin-top: 0px;

    -webkit-appearance: none;
}

.md-task-list-item input:before {
    content: '\2610';
    display: inline-block;
    width: 1.25rem;
    height: 1.6rem;
    vertical-align: middle;
    text-align: center;
    color: #bbb;
    background-color: inherit;
}
.md-task-list-item input:after {
    margin-right:30px;
}
.md-task-list-item input:checked:before,
.md-task-list-item input[checked]:before{
    color: inherit;
    content: '\2611';
}

.task-list-item {

    padding-left: 1.2em;
}
/* UI */

input, #typora-sidebar {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Print Mode */

@media print {
	/* Page breaks */
	div[title="pb"] {
		display: block;
		page-break-after: always;
		break-after: page;
	}
	/* Move top-level headings to a new page on the right-hand side: */
	h1 {
		page-break-before: right;
		break-before: recto;
	}
	/* Override the previous ruleset for the very first heading: */
	h1:first-of-type, section>h1:first-child {
		page-break-before: avoid;
		break-before: avoid;
	}
	/* Force second-level headings to begin in a new column or
     possiblyon a new page if it was in the last of multiple columns otherwise: */
	h2 {
		break-before: column;
	}
	/* Headings should not be the last paragraph on a page: */
	h1, h2, h3, h4, h5, h6 {
		page-break-after: avoid;
	}
	/* Consecutive headings with deepening level should not be split across pages: */
	h1+h2, h2+h3, h3+h4, h4+h5, h5+h6 {
		page-break-before: avoid;
	}
}
